## ignore the following folders/folder contents
cache/*
CASFRI/*
*_files/
*_cache/
fireDataJoins
FireEvents
firesInFMAs

## ignore the follwoing files
*.png
*.tex

## don't ignore:
!*.R
!*.Rmd
!*.pdf
