## ignore the following folders/folder contents
cache
cache/*
*_files
*_cache
fireDataJoins
fireDataSummary
FireEvents
firesInFMAs

## ignore the following files
*.png
*.tex
*.RData
*.rds
*.txt
*.tif
*.rds
GPBoost/*


!.gitignore


